body {
  background-color: rgba(0, 0, 255, 0.5);
  color: black;
}
h1, h2 {
  text-align: center;
}
h3 {
  margin-bottom: 5px;
}
header {
  width: 100vw;
  margin: 0;
  border: 2px solid black;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 225, 0.5);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
img {
  width: 90%;
  margin-top: 4px;
  border: 1px solid black;
  padding: 1px;
  border-radius: 12px;
}
ul {
  list-style: none;
}
.btn {
  margin-top: 5px;
}
.addToCart {
  bottom: 10px;
  position: absolute;
}
.box {
  display: inline-block;
  border: 5px solid black;
  margin: 5px;
  height: 40vh;
  background-color: rgba(0, 0, 200, 0.5);
  border-radius: 10px;
}
.cartItem {
  vertical-align: bottom;
  border-bottom: 2px solid black;
}
.cartItemText {
  font-size: 1.2em;
}
